<div class="asset-browser is-hidden">
    <div class="asset-browser-header">
        <h2>Helmet</h2>
        <div class="searchbar">
            <span class="material-symbols-outlined">search</span>
            <input placeholder="Search for items..." type="text">
            <span class="material-symbols-outlined searchbar-cancel is-hidden">close</span>
        </div>
    </div>
    <div class="asset-wrapper">
    </div>
</div>