<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/media/favicon.webp" type="image/webp">
    <meta charset="UTF-8">
    <title>Spellsword - Not Found</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/notFound.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Newsreader:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
</head>
<body>

<main>
    <img class="logo-spellsword" src="/media/logo-spellsword.webp" alt="Spellsword Logo">

    <h1>404</h1>

    <h2>Page Not Found</h2>

    <p>
        The page you requested doesn't exist, or it was moved.
    </p>

    <a href="/">
        RETURN HOME
    </a>
</main>

</body>
</html>