<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spellsword - Reset Password</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Newsreader:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<%- include('partials/notification') %>

<body>

<header class="header-wrapper">
    <a href="/">
        <img class="logo-spellsword" src="/media/logo-spellsword.webp" alt="Spellsword Logo" title="Go to Mainpage">
    </a>
</header>

<%- include('partials/alert') %>

<main class="layout">
    <div class="auth-form-wrapper">
        <h2 class="auth-form-title">Reset Password</h2>
        <div class="auth-form-alert success is-hidden">
            <span class="material-symbols-outlined">info</span>
            <p class="alert-message"></p>
        </div>
        <form class="auth-form">

            <div class="auth-password-wrapper">
                <label for="auth-password">NEW PASSWORD</label>
                <input type="password" id="auth-password" name="password" minlength="8" maxlength="64" required>
                <button type="button" class="auth-password-toggle">
                    <span class="material-symbols-outlined" title="Show Password">visibility</span>
                </button>
            </div>

            <button type="submit" class="auth-submit">RESET PASSWORD</button>
        </form>
        <div class="auth-toggle-wrapper">
            <p>Remember your password?</p>
            <a style="cursor:pointer" href="/auth">Sign In</a>
        </div>
    </div>
</main>

<script type="module" src="/scripts/reset-password.js"></script>
</body>
</html>